{% if submitted: %}
<ul class="no_bullet">
  {% for link in links: %}
  <li><a href="{{link[0]['url']}}">{{link[0]['title']}}</a></li>
  {% endfor %}
</ul>
{% else: %}
  {{ links }}
{% endif %}
