<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8" />
        <title>web crawler</title>

        <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ request.static_url('web_pyramid:static/theme.css') }}" />


        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ 'home'|route_url() }}">Web Crawler</a>
            </div>
            <div id="navbar-main" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{{ 'home'|route_url() }}">Home</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div>
          </div>
        </div>
        <div id="wrap-body" class="container">
          <div id="page-content">
            {% block content %} {% endblock %}
          <div>
          <footer>
          <div class="row">
            <div class="col-xs-12">
            <p>Based on <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a>. Web fonts from <a rel="nofollow" href="http://www.google.com/webfonts">Google</a>.</p>
            </div>
          </div>
        </footer>

        </div>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content"></div>
          </div>
        </div>
    </body>
</html>
